@model int
@{
    ViewBag.Title = "Home Page";
    var Next_page = Model + 1;
    var Previous_page = Model - 1;
}

<div class="jumbotron">
    <h1 class="text-center">ASP.NET First Test Application</h1>
</div>

<div class="container text-center">
    <p>@Html.Action("ShowData", "Home", new { page = 1})</p>

        <ul class="pagination text-center" style="margin:auto">
            <li><a href="@Previous_page">Previous</a></li>
            <li><a href="1">1</a></li>
            <li><a href="2">2</a></li>
            <li><a href="3">3</a></li>
            <li><a href="4">4</a></li>
            <li><a href="5">5</a></li>
            <li><a href="@Next_page">Next</a></li>
        </ul>
</div>