@model List<FirstTest.Models.ImageLinkInfo>


@foreach (var obj in Model)
{
<div class="text-center img-rounded" style="background-color:#e1e1e1; border:2px groove #e1e1e1;">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <p class="lead">@obj.Title</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <img src=@obj.ImageUrl class="img-responsive img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div style="margin-top:10px;" class="col-md-offset-2 col-md-8 col-md-offset-2">
            <p>@obj.Description</p>
            <br />
            <a href=@obj.SiteUrl>Image Site</a>
        </div>
    </div>
</div>
    <br />
    <br />
}

