@using CacheLearnProject.Models;
@model IEnumerable<Autor>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Aurot list</h3>
</div>

@foreach(var autor in Model)
{
    <p>@autor</p>
    <br />
}